body {
    font-family: Arial, sans-serif;
    background-color: #22262A;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #bf96df;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(240, 134, 234, 0.24);
}

.question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin-bottom: 10px;
    background-color: #CEACE8;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.options li:hover {
    background-color: #E2C0FC;
}

.skip {
    background-color: #ceaee6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.skip:hover {
    background-color: #d2b5e7;
}

.result {
    font-size: 24px;
    font-weight: bold;
}
